.landing-block {
  background-image: url('landing-page-background.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 120% auto;
}
.sign-up-block {
  background-image: url('signupblock.png');
  background-repeat: no-repeat;
  background-size: 140% auto;
}
