.navbar-clear {
  background-color: rgba(0, 0, 0, 0);
}

#logo {
  float: left;
  height: 23px;
  width: auto;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: normal;
  vertical-align: middle;
  &:hover {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
}
