* {
  font-family: $primary-font;
}

.use-primary-ft {
  font-family: $primary-font;
}

.use-second-ft {
  font-family: $secondary-font;
}

.use-light-font-weight {
  font-weight: 300;
}

.use-primary-color-ft {
  color: $primary-color;
}

.use-secondary-color-ft {
  color: $accent-color;
}

.use-light-primary-ft {
  color: $lighten-primary-color;
}
#h0 { font-size: $font-size-h0; } // ~124px
h1, .h1 { font-size: $font-size-h1; } // ~62px
h2, .h2 { font-size: $font-size-h2; } // ~52px
h3, .h3 { font-size: $font-size-h3; } // ~40px
h4, .h4 { font-size: $font-size-h4; } // ~29px
h5, .h5 { font-size: $font-size-h5; } // ~28px
h6, .h6 { font-size: $font-size-h6; } // ~24px
